html, body {
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  @mixin atSmall{
    background: green;
  }
  @mixin atMedium {
    background: yellow;
  }
  @mixin atLarge {
    background: blue;
  }
}

.container{
  background: $mainColor;
  width: $containerWidth;
  padding: 1rem;
  height: 60%;
  text-align: center;

  h1{
    margin: 0;
  }

}

